[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/pocketfft"]
	path = libs/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
[submodule "libs/pffft"]
	path = libs/pffft
	url = https://github.com/marton78/pffft.git
